name: Coverage

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  codecov:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          submodules: recursive
          token: ${{ secrets.READ_ONLY_PAT || github.token }}

      - name: Run Foundry setup
        uses: bgd-labs/github-workflows/.github/actions/foundry-setup@main
        with:
          FOUNDRY_VERSION: stable

      - name: Generate coverage report
        uses: bgd-labs/action-foundry-lcov@main
        id: lcov
        with:
          REPORT_PATH: "lcov.info"

      - name: Clean coverage report
        run: |
          sudo apt-get -y install lcov
          lcov --remove ./lcov.info -o ./lcov.info \
          'src/dependencies/*'

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@main
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: ${{ github.repository }}
          files: ./lcov/lcov.info
